<button>Action</button>
    <ul>
        <li><a href="#">Amsterdam</a></li>
        <li><a href="#">Anaheim</a></li>
        <li><a href="#">Cologne</a></li>

        <li><a href="#">Frankfurt</a></li>
        <li><a href="#">Magdeburg</a></li>
        <li><a href="#">Munich</a></li>
        <li><a href="#">Utrecht</a></li>
        <li><a href="#">Zurich</a></li>
    </ul>

<button>Search Engines</button>
    <ul id="searchengine-list3">
        <li><a href="#" name="Google">Google</a></li>
        <li><a href="#">Yahoo</a></li>
        <li><a href="#"><span class="ui-icon ui-icon-check"/>Bing</a>
            <ul>
                <li><a href="#" id="Bing_1">Bing 1</a></li>
                <li><a href="#">Bing Bong 2</a></li>
            </ul>
        </li>
        <li><a href="#" id="Ask3">Ask</a></li>
        <li><a href="#" id="AOL3">AOL</a></li>
    </ul>