<button name="new_application" class="ui-priority-primary">New Application</button>

<button>Reports</button>
<ul>
	<li>
		<a>Banking</a>
		<ul>
			<li><a>Statement of Expenses and Cash Additions</a></li>
			<li><a>Check Adjustments</a></li>
			<li><a>Check Listing</a></li>
			<li><a>Account Activity</a></li>
			<li><a>Checks by Payee</a></li>
			<li><a>Deposit History</a></li>
			<li><a>Voided Payments</a></li>
			<li><a>Voided Checks</a></li>
			<li><a>Daily Deposit</a></li>
			<li><a>Daily Deposit Summary</a></li>
		</ul>
	</li>
	<li>
		<a>Pawn</a>
		<ul>
			<li><a>Pawn Report</a></li>
			<li><a>Cash Sheet</a></li>
			<li><a>Cash Sheet by User</a></li>
			<li><a>Customer Summary</a></li>
			<li><a>Pawn Analysis</a></li>
			<li><a>Late List</a></li>
			<li><a>Charges Report</a></li>
			<li><a>Daily Spreadsheet Report</a></li>
			<li><a>Potential Charge Off Report</a></li>
			<li><a>Transaction Data Exception Report</a></li>
			<li><a>Payment Date Exception Report</a></li>
			<li><a>Delinquency and Growth Report</a></li>
			<li><a>Title Log Report</a></li>
			<li><a>Lot 55 &amp; 65 Movement Report</a></li>
			<li><a>Interest Rate Exception Report</a></li>
			<li><a>Deleted Transaction Report</a></li>
			<li><a>Bankruptcy Review Log</a></li>
			<li><a>Lot 35 No Activity</a></li>
		</ul>
	</li>
	<li>
		<a>Inventory</a>
		<ul>
			<li><a>Disposed Repo Report</a></li>
			<li><a>Open Repo Report</a></li>
		</ul>
	</li>
	<li><a>Police Report</a></li>
	<li><a>Mileage Reimb.</a></li>
</ul>

<button>Tools</button>
<ul>
	<li><a>Adv. Search</a></li>
	<li><a>Payback Guide</a></li>
	<li><a>Print Blank Forms</a></li>
	<li><a>Black Book Lookup</a></li>
	<li><a>Export Police Report</a></li>
	<li><a>Print 10 Day Letters</a></li>
	<li><a>Print Privacy Notice</a></li>
	<li><a>SDN Search</a></li>
	<li><a>Vehicle Inventory List</a></li>
	
	<li>
		<a>Utilities</a>
		<ul>
			<li><a>Printer Setup</a></li>
			<li><a>Scanner Setup</a></li>
			<li><a>Printer &amp; Scanner Diagnostics</a></li>
			<li><a>Data Populator</a></li>
		</ul>
	</li>
</ul>

<button>Manager Functions</button>
<ul>
	<li><a>Write Expense Check</a></li>
	<li><a>Non-Check Transaction</a></li>
	<li><a>Deposit from Corporate</a></li>
	<li><a>Add Payee</a></li>
	<li><a>Payee List</a></li>
	<li><a>Chart of Accounts</a></li>
	<li><a>Check List</a></li>
	<li><a>Create Daily Deposit</a></li>
	<li><a>Deposit List</a></li>
	<li><a>Make Manual Deposit</a></li>

	<li>
		<a>Browse</a>
		<ul>
			<li>
				<a>Lots</a>
				<ul>
					<li><a>1 - Current</a></li>
					<li><a>2 - Collection Hold</a></li>
					<li><a>3 - Uncommitted 1–30 days past due</a></li>
					<li><a>5 - Late 1-30 days past due</a></li>
					<li><a>25 - Late 31 to 60 days past due</a></li>
					<li><a>61 - Charge Off 61 Past Due</a></li>
					<li><a>35 - Charge Off - Workable</a></li>
					<li><a>45 - Charge Off - Bankruptcy</a></li>
					<li><a>55 - Charge Off - Skip</a></li>
					<li><a>65 - Charge Off - Non-workable</a></li>
				</ul>
			</li>
			<li>
				<a>Applications</a>
				<ul>
					<li><a>Open</a></li>
					<li><a>Denied</a></li>
					<li><a>Expired</a></li>
					<li><a>All</a></li>
				</ul>
			</li>
			<li>
				<a>Vehicle Inventory</a>
				<ul>
					<li><a>Agent Removed</a></li>
					<li><a>Out for Repo</a></li>
					<li><a>Redeemed</a></li>
					<li><a>Repo</a></li>
					<li><a>Sold</a></li>
					<li><a>All</a></li>
				</ul>
			</li>
		</ul>
	</li>
</ul>