<div id="appHeaderLogo" />
<div id="appHeaderBar">
	<div id="appHeaderTop" />
	<div id="appHeaderBottom" class="ui-widget-header">
		<div id="appHeaderMenu" />
		<div id="appHeaderSearch" />
	</div>
</div>
<!-- 
	<div id="AppHeaderLeft" class="appHeaderLeft">FOO</div>
	<div id="AppHeaderMiddle" class="appHeaderMiddle">BAR</div>
	<div id="AppHeaderRight" class="appHeaderRight">BAZ</div>
</div>
<div id="AppHeaderBottom" class="appHeaderBottom">
	<div id="AppHeaderMenu" class="appHeaderMenu"></div>
	<div id="AppHeaderSearch" class="appHeaderSearch">
	    <div id="AppHeaderSearchMenuLeft" class="appHeaderSearchMenu"></div>
	    <input type="text" id="quick_search" class="appHeaderSearchInput" />
	    <input type="text" id="quick_search_ssn" class="appHeaderSearchInput ui-helper-hidden" maxlength="4" />
	    <div id="AppHeaderSearchMenuRight" class="appHeaderSearchMenu"></div>
	</div>
</div> -->